.trial-cta {
	background: #010101;
	margin-top: -40px;

	&__wrapper {
		flex-direction: column;
		backdrop-filter: blur(43px);
		background: #010101;
		padding-bottom: 25px;
	}

	&__content {
		padding: 24px;

		&::before {
			background: url(../img/trial-cta/elem-mob.svg) no-repeat center / contain;
			width: 300px;
			height: 900px;
			right: 20px;
			bottom: 20px;
			top: inherit;
			left: inherit;
		}
	}

	&__images {
		display: none;
	}

	&__images--mobile {
		display: block;
		margin-bottom: 24px;
		overflow: visible;

		.swiper-slide {
			width: 85%;
			border-radius: 20px;
			overflow: hidden;
			height: 220px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	&__title {
		display: none;

		&--mobile {
			display: inline;
			font-size: 19px;
			font-weight: 900;
			text-align: center;
			color: white;
			margin-bottom: 35px;
		}
	}

	&__side {
		font-size: 28px;
		gap: 12px;
	}

	&__side-info {
		padding: 15px;
		gap: 30px;
		border-radius: 16px;
	}

	&__side-title {
		font-size: 35px;
	}

	&__side-text {
		font-size: 16px;
	}

	&__button {
		font-size: 14px;
		background-color: white;
		padding: 15px;
		color: $black;
		text-transform: none
	}

	&__button-icon {
		display: none;

		&--mobile {
			display: block;
			height: 70%;
			right: 10px;
		}
	}
}