.places {
  position: relative;
  margin-top: 80px;
  .circle-mobile {
    top: 15%;
    left: -30%;
  }
  &__title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  &__txt {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    margin-bottom: 20px;
  }

  &__slider {
    padding: 20px 0;
  }

  &__item {
    min-height: 245px;
    border-radius: 12px;
    padding: 12px;

    &-metro {
      font-size: 10px;
      top: 12px;
      right: 12px;
      padding: 5px 8px;

      span {
        padding-left: 20px;

        &::before {
          width: 16px;
          height: 10px;
          top: -1px;
        }
      }
    }

    &-txt {
      font-size: 16px;
      letter-spacing: -0.02em;
    }

    &-place {

    }

    &.swiper-slide-active {
      transform: scale(1.1);
      margin: 0 15px !important;
    }
  }

  &__nav-buttons {
    margin-top: 30px;
  }

}