.banner {
	position: relative;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	&__title {
		font-size: 32px;
		text-align: center;
	}

	&__text {
		font-size: 16px;
		text-align: center;
	}

	&__button {
		width: 100%;
		padding: 16px 20px;
		font-size: 16px;
		text-align: left;
		border-radius: 100px;

		&::before {
			width: 30px;
			height: 30px;
			right: 10px;
		}
	}
}

.scroll-down {
	width: 36px;
	height: 36px;
	bottom: -10px;

	&__icon {
		width: 11px;
		height: 11px;
	}
}

@keyframes scroll-down-bounce {

	0%,
	100% {
		transform: translateX(-50%) translateY(0);
	}

	50% {
		transform: translateX(-50%) translateY(4px);
	}
}