.benefits {
	&__title {
		font-size: 32px;
		margin-bottom: 30px;
	}

	&__item,
	&__item_wide {
		flex: 1 1 100%;
	}

	&__list {
		gap: 8px;
	}

	&__item {

		gap: 20px;
		padding: 14px 12px;
		border-radius: 16px;

		&-title {
			font-size: 16px;
		}

		&-text {
			font-size: 16px;
		}
	}

	&__button {
		width: 100%;
		padding: 16px 20px;
		font-size: 16px;
		text-align: left;
		border-radius: 100px;

		&::before {
			width: 26px;
			height: 26px;
			right: 10px;
		}
	}
}