.directions {

	&::before {
		width: 400px;
		height: 400px;
		transform: translate(-50%, -40%);
	}

	&__title {
		font-size: 32px;
		margin-bottom: 20px;
	}

	&__subtitle {
		font-size: 16px;
		margin-bottom: 20px;

		br {
			display: none;
		}

	}

	&__list {
		flex-direction: column;
		gap: 20px;
	}

	&__item {
		gap: 20px;
		max-width: none;
	}

	&__icon {
		width: 80px;
		height: 80px;
		margin-bottom: 20px;
		border-radius: 50%;
		border: 2px solid $red;

		img {
			width: 50%;
		}
	}

	&__text {
		font-size: 16px;
	}

}