.final-cta {
	&__title {
		font-size: 18px;
		margin-bottom: 12px;

		br {
			display: none;
		}
	}

	&__button {
		width: 100%;
		font-size: 16px;
		padding: 16px 20px;

		&::before {
			width: 26px;
			height: 26px;
			right: 10px;
		}
	}
}