.thanks {
	max-width: 1840px;
	border-radius: 24px 36px;
	padding: 0;
	margin-top: 60px;
	margin-bottom: 120px;

	&__top {
		display: grid;
		grid-template-columns: 4.5fr 7.5fr;
		border-radius: 24px;
		background: $black;
		padding: 23px 31px 32px 24px;
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 50px;
		padding-top: 16px;
	}

	&__title {
		color: white;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
	}

	&__button {
		display: flex !important;
		align-items: center;
		justify-content: center;
		max-width: 420px;
		min-height: 65px;
		font-size: 35px;
		color: white;
		padding-inline: 20px;
		background-color: $red;

		&:hover {
			color: white;
		}
	}

}