.campus {
  position: relative;
  padding: 0;
  box-shadow: 0px -10px 30px 15px #000;

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  &__content{
    padding-top: 100px;
    position: relative;
    z-index: 2;
  }

  &__title {
    text-align: center;
    font-size: 80px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 850;
    margin-bottom: 110px;
  }

  &__carousel {
    position: relative;
    will-change: transform;
    pointer-events: none;
    padding-top: 5rem;
    overflow: hidden;
    .d-mobile {
      display: none !important;
    }

    &-comp {
      pointer-events: auto;
      margin-top: 0;
      padding-bottom: 320px;
      position: relative;
      display: flex;
      justify-content: center;
      perspective: 2000px;
    }

    &-wrap {
      pointer-events: none;
      transform-style: preserve-3d;
      width: 715px;
      height: 578px;
      padding: 1.75rem;
    }

    &-element {
      pointer-events: auto;
      position: absolute;
      width: 715px;
      height: 578px;
      user-select: none;

      &:hover {
        .campus__carousel-text_block {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &-img_block {
      pointer-events: none;
      position: relative;
      overflow: hidden;
      border-radius: 2rem;
      --tw-bg-opacity: 1;
      background-color: rgba(66, 66, 66, var(--tw-bg-opacity));
      height: 100%;
      width: 100%;
      transform: scaleX(-1);
    }

    &-inner {
      position: absolute;
      top: -1rem;
      left: -4rem;
      bottom: -1rem;
      right: -4rem;
    }

    &-img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1);
      pointer-events: none;
      max-width: 100%;
      vertical-align: middle;
    }

    &-text_block {
      opacity: 0;
      transform: translateY(20px) scaleX(-1);
      transition:
        opacity 0.4s ease,
        transform 0.4s ease;
      width: 100%;
      max-width: 75%;
      margin: 0 auto;
    }

    &-text {
      font-weight: 500;
      font-size: 48px;
      line-height: 100%;
      color: white;
    }
  }
}
