.running-line {
  padding: 0;
  background: $red;
  overflow: hidden;
  position: relative;
  z-index: 2;

  .marquee-infinite {
    display: flex;
    align-items: center;
    height: 106px;
    margin: 0 auto;

    DIV {
      display: flex;
      animation: marquee-infinite 50s linear infinite;
    }
  }

  &__item {
    display: flex;
    padding: 0 28px;

    IMG {
      max-width: none;
      width: 1597px;
      height: 106px;
    }
  }
}

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
