.main {
	// height: 426px;
	height: auto;
	background: black url('../img/main/bg_m.webp') no-repeat center top / cover;
	padding-top: calc(var(--header-height) + 10px);

	&.bottom {
		padding-top: 0;
		border-radius: 24px 24px 0 0;
		overflow: hidden;
		margin-bottom: 64px;
		background: black url('../img/main/bg_m.webp') no-repeat right bottom / cover;
	}

	.container {
		padding-right: var(--bs-gutter-x);
	}

	.btn-desktop {
		display: none;
	}

	&__content {
		position: relative;
		z-index: 6;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: auto;
		@include wide;

		&::after {
			width: 100%;
			top: 0;
			right: 0;
			left: 0;
			z-index: -1;
		}

		.d-desktop {
			align-items: center;
		}

		@supports (-moz-appearance: none) {
			&::after {
				background: url('../img/main/bg_mask-ff.svg') no-repeat center top / cover;
			}
		}

		@include mobile {
			.main.bottom & {
				&::after {
					height: 466px;
				}
			}
		}
	}

	// &__content

	&__image {
		img {
			position: relative;
			width: 100%;
			height: auto;
			z-index: 1;
			top: -10px;
		}

		&::after {
			display: none;
		}

	}

	// &__image

	&__slider {
		position: relative;
		z-index: 5;
		min-height: 150px;
		height: auto;
		padding: 12px;
		background: black;
		border-radius: 40px 40px 0 0;
		order: 2;
		margin-top: -35px;
		box-shadow: 0 2px 0 0 #F5F5F6;
	}

	// &__slider

	&__slide {
		align-items: center;
		gap: 10px;
		height: auto;



		&-title {
			width: 100%;

			img {
				width: 100%;
				height: auto;
				max-height: none;

				&.d-mobile {
					display: block;
					margin-bottom: 30px;
				}

				&.d-desktop {
					display: none;
				}
			}
		}

		// &-title

		&:nth-child(1) &-title {
			width: 100%;
		}

		&:nth-child(2) &-title {
			width: 266px;
		}

		&-date {
			font-size: 20px;
			letter-spacing: -0.01em;
			min-height: 42px;
			min-width: 197px;
			border-radius: 80px;
		}

		&-pretitle {
			font-size: 32px;
			text-align: center;
			margin-bottom: 13px;
		}

		&-heading {
			font-size: 32px;
			text-align: center;
			margin-bottom: 20px;
		}

		&-fullText {
			// font-size: 32px;
			text-align: center;
			// margin-bottom: 20px;
		}

		&-subtitle {
			font-size: 16px;
			text-align: center;
			margin-bottom: 20px;
		}

		&-buttons {
			display: flex;
			flex-direction: column;
			gap: 17px;
			width: 100%;
		}

		&-button {
			border-radius: 100px;
			font-size: 16px;
			padding: 16px 20px;
			width: 100%;

			&_primary {
				&::before {
					height: 30px;
					width: 30px;
					right: 10px;
				}
			}

			&_secondary {
				border: 1px solid white;

				&::before {
					height: 30px;
					width: 30px;
					right: 10px;
				}
			}
		}

		// &__button

		&-form {
			margin-top: 15px;
		}

		// &-form
	}

	// &__slide

	&_substitution & {

		&__slide {

			&-title {
				img {
					max-height: 100px;
				}
			}

			// &-title
		}
	}

	&__nav {
		position: absolute;
		justify-content: space-between;
		gap: 0;
		background: none;
		border-radius: 0;
		padding: 0;
		width: 100%;
		margin: 0;
		top: calc(150px - 12.5px);
		padding: 0 12px;

		.main.bottom & {
			margin: 0;
		}

		&-button {
			font-size: 25px;
			width: 30px;
			height: 30px;
			border: 2.5px solid rgba(255, 255, 255, 0.2);
			background-clip: padding-box;
		}

		// &-button
	}

	// &__nav

	&__phone-fab {
		display: block;
		position: fixed;
		right: 20px;
		bottom: 20px;
		width: 45px;
		height: 45px;
		z-index: 999;
		font-size: 45px;
	}
}