.lesson-slider {

	&::before {
		width: 500px;
		height: 500px;
		transform: translate(-40%, -10%);
	}

	&__title {
		font-size: 32px;
		margin-bottom: 30px;
	}

	&__wrapper {
		position: relative;
		margin-bottom: 40px;
	}

	&__slider {
		width: 100%;
		padding: 20px 0;
		overflow: visible;
	}

	&__slide {
		width: 228px;
		height: 274px;
		border-radius: 16px;
		fill: #000, linear-gradient(214.89deg, #ed131c -41.36%, rgba(237, 19, 28, 0) 55.13%), linear-gradient(50.98deg, #ed131c -43.66%, rgba(237, 19, 28, 0) 56.78%);
		padding: 14px;

		&-number {
			font-size: 65px;
		}

		&-text {
			font-size: 16px;
		}

		&.swiper-slide-active {
			opacity: 1;
			background: linear-gradient(135deg, $red 0%, $black 100%);
			transform: scale(1.05);
			border: 1px solid white;
		}
	}

	&__caption {
		font-size: 20px;
		margin-bottom: 30px;
	}

	&__button {
		width: 100%;
		padding: 16px 20px;
		font-size: 16px;
		text-align: left;
		border-radius: 100px;

		&::before {
			width: 30px;
			height: 30px;
			right: 10px;
		}
	}
}