$width-mobile: 360px;
$width-desktop: 768px;
$max-width-desktop: 1920px;

$black: #1C1C1C;
$blackLight: #3A3A3A;
$orange: #DE6B26;
$red: #ED131C;
$redDark: #DE040D;
$gray10: #F5F5F6;
$gray20: #ECEDF0;
$gray40: #E0E1E5;
$gray60: #CACACB;
$gray80: #7E7F81;
$gray100: #666666;
