.modalbox-open-day {

	.modalbox__window {
		width: 100%;
		padding: 12px;
	}

	&__header {
		font-size: 20px;
		letter-spacing: -0.01em;
		margin-bottom: 16px;
	}

	&__title-1 {
		max-width: none;
		display: inline;
		font-size: inherit;
		letter-spacing: inherit;
	}


	&__title-2 {
		display: inline;
		font-size: inherit;
		letter-spacing: inherit;
		margin-bottom: 0;
	}


	&__tags {
		gap: 4px;
		font-size: 12px;
		margin-bottom: 20px;
	}

	&__tag {
		border-radius: 99px;
		padding: 6px 8px;
	}


	&__date {
		font-size: 16px;
		margin-bottom: 12px;
	}


	&__cards {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-bottom: 0;
	}

	&__card {
		min-height: 69px;
		border-radius: 16px;
		flex-direction: row;
		align-items: center;
		background-image: url('../img/modalbox-open-day/bg-card_m.svg');
		padding: 12px;

		&-num {
			order: 2;
			width: 18px;
			height: 18px;
			font-size: 10px;
			border-width: 2.5px;
			padding-top: 1.4px;
			margin: 0 0 0 auto;
		}

		&-title {
			max-width: 240px;
			font-size: 14px;
		}

		&_black {
			min-height: 94px;
			align-items: flex-start;
		}

		&_black & {
			&-title {
				max-width: 195px;
			}
		}

		&_4 { background-image: url('../img/modalbox-open-day/bg-card_m_4.jpg'); }
		&_5 { background-image: url('../img/modalbox-open-day/bg-card_m_5.jpg'); }
	} // &__card


	&__form {
		border-radius: 0;
		background: none;
		padding: 20px 12px 12px;
	}


	.form {
		align-items: flex-start;

		&__title {
			font-size: 16px;
			margin-bottom: 8px;
		}

		&__txt {
			font-size: 14px;
			margin-bottom: 12px;
		}

		&__items {
		}

		&__footer-checkbox {
			background: #CACACB;
		}
	} // .form

}