.faq {

	&__title {
		font-size: 32px;
	}

	&__grid {
		border-radius: 16px;
		padding: 12px;
		gap: 8px;
	}

	&__item {
		border-radius: 10px;

		&-header {
			padding: 16px;
			border-radius: 10px;
		}

		&-question {
			font-size: 16px;
		}

		&-arrow {
			width: 25px;
			height: 25px;
			border-radius: 3px;

			&::before {
				width: 14px;
				height: 14px;
			}
		}

		&-answer {
			padding: 16px;
			border-radius: 10px;
			font-weight: 500;
			font-size: 14px;
		}

		&.active {
			border-radius: 10px;

		}
	}
}