[class^="icons-"],
[class*=" icons-"] {
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
}
[class^="icons-"]:before,
[class*=" icons-"]:before {
	content: '';
	font-size: inherit;
	line-height: 1;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	padding: 0.5em;
}
