.global-studio {
  padding-top: 70px;
  z-index: 6;

  .d-mobile {
    margin-top: 35px;
    display: block;
  }
  .d-desktop {
    display: none;
  }

  .circle-mobile {
    top: 25%;
    right: -50%;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 42px;
    align-items: start;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 32px;
    letter-spacing: -3%;
  }

  &__subtitle {
    font-size: 16px;
    margin-bottom: 50px;
    letter-spacing: -1%;
  }

  &__card {
    width: 100%;
    &:last-child {
      grid-column: span 1;
      margin-right: 300px;
    }

    &-body {
      gap: 20px;
    }

    &-desc {
      font-size: 16px;
      line-height: 1;
    }

    &-name {
      font-size: 20px;
      letter-spacing: 0.06em;
    }

    &-link {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.06em;
      padding-bottom: 6px;
    }
    &-img {
      position: absolute;
      top: 50%;
      right: 65px;
      width: 100px;
      height: auto;
      transform: translateY(0) rotate(18deg);
      border-radius: 14px;
      box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
      z-index: 1;
      // pointer-events: none;
      object-fit: cover;
      visibility: hidden;
      opacity: 0;
      transform: translateY(0) rotate(18deg);

      // Плавность в обе стороны
      transition:
        opacity 0.4s ease,
        transform 0.4s ease,
        visibility 0s linear 0.4s;
    }

    &.is-visible &-img {
      visibility: visible;
      opacity: 1;
      transform: translateY(-50%) rotate(18deg);
      transition:
          opacity 0.4s ease,
          transform 0.4s ease,
          visibility 0s linear 0s;      
    }

    &-body:hover ~ &-img,
    &-img:hover {
      visibility: hidden;
      opacity: 0;
      transform: translateY(0) rotate(18deg);
      transition:
          opacity 0.4s ease,
          transform 0.4s ease,
          visibility 0s linear 0.4s;
    }

    &.is-visible &-img,
    &.is-visible &-body:hover ~ &-img,
    &.is-visible &-img:hover {
      visibility: visible;
      opacity: 1;
      transform: translateY(-50%) rotate(18deg);
      transition:
          opacity 0.4s ease,
          transform 0.4s ease,
          visibility 0s linear 0s;
    }
  }
}
